/* 
    General Styles
*/
body {
  background-image: url("http://lukedowding.com/img/space.jpg");

} 


.emptyCard:hover {
  transform: scale(.95); 
  transition: all 0.3s ease; 
  filter: saturate(180%);

}
